h1{
    font-size: 50px;
    color: #ffffff; 
}

button{
    color: rgb(255, 255, 255);
    background: #79d15e;
    border-radius: 6px;
}

body{
    background: linear-gradient( rgb(212, 157, 199), rgb(164, 245, 218));
    height: 1000px;
}